<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Ethan Trent</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <img src="/images/ethan-trent-photo.jpg" alt="Ethan Trent smiling confidently at the camera in a professional headshot against a neutral background">
    <p>My name is Ethan Trent! I am currenly a senior here at BYU-I studying Software Engineering with an emphasis in Full-Stack and AI/ML. I am from a small town in Iowa but am living in Rexburg currently with my wife until graduation.</p>
    <p>Outside of my coursework, I am a HUGE fitness and nutrition enthusiast. Excercise and overall wellness is my passion, you'll typically see me at the gym or some kind of fitness event.</p>
</body>
</html>
</main>