<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Welcome to my products page! Here are a few things I offer:</p>
    <ul>
        <li>Custom Fitness Plans</li>
        <li>Nutrition Guides</li>
        <li>Personal Training Sessions</li>
    </ul>
</main>
<%- include('partials/footer') %>